@use '../variables';
.tooltip {
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        color: variables.$textColor;
        background-color: variables.$pink;
        
    }
    

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: variables.$pink;
        color: #fff;
        text-align: center;
        padding: 5px 10;
        border-radius: 6px;
        white-space: pre-wrap;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
